<div class="modal-header flex justify-between mb-3 text-lg">
    {{ data ? data.partNumber : 'New Product'  }}
    <span class="modal-close cursor-pointer" (click)="close()">✕</span>
</div>
<div class="modal-content mb-5">
    <ng-container *ngTemplateOutlet="modalBody"></ng-container>
</div>
<div class="modal-footer flex justify-end gap-1">
    <button (click)="close()" class="submit-button px-4 py-2 bg-red-700 text-white font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-75">Close</button>
    <button (click)="submitModal()" class="submit-button px-4 py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75">Submit</button>
</div>

<ng-template #modalBody>
    <form [formGroup]="productForm">
        @if (showParentChoseInput()) {
            <div class="flex items-center gap-1 mb-5">
                <input id="relatedParent"
                       type="checkbox"
                       name="relatedParent"
                       (click)="uncheckRelatedParent()"
                       [checked]="isParentChosen"
                       [disabled]="!isParentChosen"
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label for="relatedParent" class="py-4 text-sm font-medium text-gray-900">Related to</label>

                <app-dropdown-search
                        class="w-2/5"
                        [searchDataList]="productSearchList"
                        [listKeys]="['partNumber', 'description']"
                        (selectedItem)="selectParentProduct($event)"
                        (searchedItem)="searchParent($event)"
                        (changeEvent)="uncheckRelatedParent()"
                ></app-dropdown-search>
            </div>
        }

        <div class="flex w-full gap-10 mb-5">
            <div class="flex flex-col w-2/4">
                <label for="partNumber" class="text-sm font-medium text-gray-900">Part Number</label>
                <input  id="partNumber"
                        name="partNumber"
                        type="text"
                        class="w-full h-[2rem] border px-2 py-1"
                        formControlName="partNumber">
            </div>

            <app-dropdown-search
                [label]="'Supplier'"
                class="flex flex-col w-2/4"
                [searchDataList]="availableSuppliers"
                [listKeys]="['name']"
                (selectedItem)="selectSupplier($event)"
                (searchedItem)="searchSupplier($event)">
            </app-dropdown-search>
        </div>

        <div class="flex w-full gap-10 mb-5">
            <app-dropdown
                    [label]="'Status'"
                    [default]="statusDataList[2]"
                    [dataList]="statusDataList"
                    [listKeys]="['name']"
                    (selectedItem)="selectStatus($event)"
                    class="flex flex-col w-2/4">
            </app-dropdown>

            <div class="flex flex-col w-2/4">
                <label for="description" class="text-sm font-medium text-gray-900">Description</label>
                <input id="description"
                       name="description"
                       type="text"
                       class="w-full h-[2rem] border px-2 py-1"
                       formControlName="description">
            </div>
        </div>

        <div class="flex w-full gap-10 mb-5">
            <div class="flex flex-col w-2/4">
                <label class="text-sm font-medium text-gray-900">Components</label>
                @if (data) {
                    <ul class="tree">
                        <ng-container *ngTemplateOutlet="recursiveTree; context: { $implicit: data, level: 0 }"></ng-container>
                    </ul>
                }
            </div>
            <div class="flex flex-col w-2/4">
                <label for="plant" class="text-sm font-medium text-gray-900">Plant</label>
                <input id="plant"
                       name="plant"
                       type="text"
                       class="w-full h-[2rem] border px-2 py-1"
                       formControlName="plant">
            </div>
        </div>

        <div>
            <h2>Regulatory compliance - список регулирующих актов</h2>
        </div>


    </form>
</ng-template>

<ng-template #recursiveTree let-node let-level="level">
    <li [ngStyle]="{'margin-left.px': level * 10}" class="mb-2" (click)="changeModalComponent(node, $event)">
        <div class="border px-2 py-1 bg-sky-50 cursor-pointer hover:border-blue-700" [class.selected]="currentID() === node.id">
            <span>level: {{level}} </span>
            <strong> {{ node.partNumber }}</strong> - {{ node.description }} - {{ node.supplier }}
        </div>
        <ul *ngIf="node.components && node.components.length">
            <ng-container *ngFor="let child of node.components">
                <ng-container *ngTemplateOutlet="recursiveTree; context: { $implicit: child, level: level + 1 }"></ng-container>
            </ng-container>
        </ul>
    </li>
</ng-template>


