<!-- MODAL HEADER -->
<div class="modal-header flex justify-between mb-3 text-lg">
    {{ data ? data.partNumber : 'New Supplier'  }}

    <span class="modal-close cursor-pointer ml-auto" (click)="close()">✕</span>
</div>

<!-- MODAL TABS -->
<div class="modal-tabs flex space-x-1 border-b border-gray-300">
    <div class="cursor-pointer flex items-center space-x-2 px-2 py-1 border hover:border-gray-300 rounded-t-md"
         (click)="tabActive='General'"
         [class.bg-gray-100]="tabActive!=='General'">
        <span class="text-sm font-medium">General</span>
    </div>
</div>

<!-- MODAL CONTENT -->
<div class="modal-content mb-5 min-h-[400px] max-h-[450px] overflow-auto">
    <ng-container *ngTemplateOutlet="modalBody"></ng-container>
</div>

<!-- MODAL FOOTER BUTTONS -->
<div class="modal-footer flex justify-end gap-1">
    <button (click)="close()" class="submit-button px-4 py-2 bg-red-700 text-white font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-75">Close</button>
    <button (click)="submitModal()"
            class="submit-button px-4 py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75 disabled:bg-gray-500 disabled:cursor-not-allowed">Submit</button>
</div>


<ng-template #modalBody>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa cupiditate dicta eaque, enim exercitationem voluptas. Earum exercitationem modi possimus praesentium sed sit, vel. Accusantium cum dolores provident repellendus ut.
</ng-template>