<div class="relative inline-block" #pickerPanel>
    <button (click)="togglePanel()"
            class="text-sm border border-gray-300 rounded bg-white h-[2rem] border px-2 py-1">
        {{ selectedHour.toString().padStart(2, '0') }}:
        {{ selectedMinute.toString().padStart(2, '0') }}
        <span> {{ amPm }} </span>
    </button>

    <div *ngIf="panelOpen" class="absolute z-10 mt-2 w-56 bg-white border border-gray-300 rounded shadow-lg p-2 flex gap-2">
        <div #hourContainer
            class="h-40 w-20 overflow-y-auto scroll-smooth no-scrollbar flex flex-col items-center">
            <div
                    *ngFor="let hour of displayedHours"
                    [class.bg-blue-500]="hour === (selectedHour % 12 || 12)"
                    [class.text-white]="hour === (selectedHour % 12 || 12)"
                    (click)="selectHour(hour)"
                    [attr.data-val]="hour"
                    class="cursor-pointer px-2 py-1 rounded text-sm hover:bg-blue-100 text-center w-full">
                {{ hour.toString().padStart(2, '0') }}
            </div>
        </div>

        <div
            #minuteContainer
            class="h-40 w-20 overflow-y-auto scroll-smooth no-scrollbar flex flex-col items-center"
        >
            <div
                    *ngFor="let min of minutes"
                    [class.bg-blue-500]="min === selectedMinute"
                    [class.text-white]="min === selectedMinute"
                    (click)="selectMinute(min)"
                    [attr.data-val]="min"
                    class="cursor-pointer px-2 py-1 rounded text-sm hover:bg-blue-100 text-center w-full"
            >
                {{ min.toString().padStart(2, '0') }}
            </div>
        </div>

        <div class="flex flex-col justify-center ml-2 gap-2 text-sm">
            <button
                    class="px-2 py-1 border rounded"
                    [class.bg-blue-500]="amPm === 'AM'"
                    [class.text-white]="amPm === 'AM'"
                    (click)="setAmPm('AM')"
            >
                AM
            </button>
            <button
                    class="px-2 py-1 border rounded"
                    [class.bg-blue-500]="amPm === 'PM'"
                    [class.text-white]="amPm === 'PM'"
                    (click)="setAmPm('PM')"
            >
                PM
            </button>
        </div>
    </div>
</div>
