<div [ngClass]="'log-diff'">
    <div class="log-title cursor-pointer bg-gray-400 text-white px-2 py-1 font-bold flex justify-between">
        <span>{{ data.title }}</span>
    </div>
    @for(log of data.logs; track $index){
        @if(data.hasChildren){
            <div [ngClass]="data.styles">
                <div class="pl-4">
                    <app-log-data [data]="log"></app-log-data>
                </div>
            </div>
        }
        @else {
            <div [ngClass]="data.styles">
                <div class="pl-4">{{data.logs[0]}}</div>
            </div>
        }
    }
</div>