/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';

* {
  padding: 0px;
  margin: 0px;
}

.no-scroll {
  overflow: hidden;
}

// !!! Need for correct Angular portal works !!!
.cdk-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
// !!!!!
