/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';


* {
  padding: 0px;
  margin: 0px;
}

.no-scroll {
  overflow: hidden;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  width: auto !important;
  z-index: 999;
}