<header>
  <div class="flex flex-row">
    <div class="hover:bg-violet-700 bg-violet-500 basis-1/12 text-center shadow-md text-white">
      <ul>
        <li><a routerLink="/auth" routerLinkActive="active" class="hover:underline hover:decoration-1">Sign in</a></li>
      </ul>
    </div>
    <div class="basis-11/12"></div>
  </div>
</header>


<button (click)="openModal(modalTemplate)">Open modal</button>

<ng-template #modalTemplate>
    <div>This is our custom modal content</div>
</ng-template>
