<header>
  <div class="flex flex-row">
    <div class="text-center shadow-md text-white">
      <ul class="flex gap-1">

        <li class="hover:bg-violet-700 bg-violet-500 p-1 px-5 hover:cursor-pointer"
            routerLink="/auth"
            routerLinkActive="active">Sign in</li>

        <li class="hover:bg-violet-700 bg-violet-500 p-1 px-5 hover:cursor-pointer"
            routerLink="/ui-kit"
            routerLinkActive="active">Ui Kit</li>


          <li class="hover:bg-violet-700 bg-violet-500 p-1 px-5 hover:cursor-pointer"
              routerLink="/statements/list"
              routerLinkActive="active">
              Statements
          </li>
      </ul>
    </div>
  </div>
</header>
<h1>Environment: {{ envName }}</h1>